* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 150px;
  background-color: bisque;
}

h1 {
  font-size: 40px;
  
}

main {
  width: 100%;
  height: 2000px;
  background-color: brown;
}

.kyudo-info {
  background-color: white;
}

.info {
  background-color: blue;
}

.hassetu {
  background-color: aqua;
}

footer {
  width: 100%;
  height: 150px;
  background-color: gray;
}